# Dependencies
node_modules/
package-lock.json

# Build files are generated, don't commit
assets/*.min.css
assets/*.min.js
assets/*.map

# Build artifacts
build/
*.zip

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*